@import "header.scss";
@import "footer.scss";
@import "social.scss";
html, body {
  height: 100%;
}
body{
	display: flex;
	flex-direction: column;
}

$xl: 1400px;
$lg: 1200px;
$md:900px;
$sm: 670px;
$e-sm:415px;


@mixin breakpoint($br) {
  @media (max-width: $br){
    @content;
  }
}
.content{
	flex: 1 0 auto;
	position: relative;
	//z-index: 10;
}
.background{
	display: flex;
	justify-content: space-between;
	width: 100%;
	height: 100%;
	
	position: absolute;
	top: 0;
	right: 0;
	z-index: 5;
}
.white{
	min-width: 97px;
	//width: 15%;
	height: 100%;
}
.yellow{
	max-width: 1620px;
	
	width: 100%;
	height: 100%;
	background-color: #FFEA2F;
}
.wraper{
	margin-top: 120px;
	width: 100%;

	position: relative;
	z-index: 10;
	
}
footer{
	flex-shrink: 0;
	background-color: #EFEFEF;
}

.main_content{
	margin-left: 86px;
	display: flex;
	position: relative;

	@include breakpoint($xl){
		margin-left: 50px;
	}

	@include breakpoint($lg){
		flex-wrap: wrap;
	}
}
.main_content_wraper{
	display: flex;
}

.title{
	max-width: 1077px;
	font-weight: 800;
	font-size: 72px;
	line-height: 85px;
	text-transform: uppercase;

	margin-top: 206px;
	margin-bottom: 80px;

	@include breakpoint($xl){
		margin-top: 90px;
		margin-bottom: 80px;
		font-size: 62px;
		line-height: 72px;
	}

	
}

.btn_more{
	width: 120px;
	height: 102px;
	margin-left: 95px;
	margin-right: 66px;
	margin-top: 20px;
	font-weight: 800;
	font-size: 22px;
	line-height: 27px;

	color: #FFFFFF;
	text-decoration: none;

	background-color: #CE0002;

	@include breakpoint($xl){
		margin-left: 50px;
		margin-right: 40px;
		margin-top: 20px;
	}
	@include breakpoint($lg){
		margin-left: 0px;
	}
}

.description{
	max-width: 460px;
	font-weight: 600;
	font-size: 24px;
	line-height: 30px;
}

.picture {
	display: flex;
	justify-content: flex-end;
	align-items: center;

	margin-top: 50px;
	margin-right: 40px;
	img{
		display: block;
		max-width: 100%;
		height: auto;
	}

	@include breakpoint($lg){
		width: 100%;
		margin-bottom: 40px;
	}

}